@font-face {
    font-family: "Chakra Petch";
    src: local("ChakraPetch-SemiBold"),
    url("/static/fonts/chakra-petch/ChakraPetch-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu-Bold"),
    url("/static/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Pixel font";
    src: local("Pixel-font"),
    url("/static/fonts/pixel-font/Pixel-font.ttf") format("truetype");
  }
  
  /* Universally removing default browser margins and paddings*/
  * {
    margin: 0;
    padding: 0;
  }

  /* The whole page */
  body {
    overscroll-behavior: none;
    background-color: #212227;
    font-family: "Pixel font", "sans-serif";
    color: #dbdbdb;
    height: 100%;
    letter-spacing: -5px;
  }

  .auth {
    display: inline-block;
    position: relative;
  }

/* Sign in form */
  #auth-img-container {
    width: 50%;
    margin-top: 2.89vh;
    margin-left: 25vw;
  } 

  .auth ul {
    font-size: 40px;
    overflow: auto;
    position: absolute;
    top: 15.2%;
    left: 30.4%;
    list-style: none;
    height: calc(716/75 * 55px);
    width: calc(716/75 * 49px);
    display: flex;
    flex-direction: column;
    padding-left: 35px;
  }

  div {
    width: 100%;
    height: 100%;
  }
  
  .field {
    padding-bottom: 10px;
    padding-top: 10px;
  }

   input {
    border-width: 0;
    outline: 0;
    font-family: "Ubuntu", "sans-serif";
    font-size: 25px;
    width: 380px;
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    color: #dbdbdb;
    box-sizing: border-box;
    box-shadow: none;
    background-color:rgba(12, 12, 12, 0);
    background-image: url("../images/input-container.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .last-li {
    position: absolute;
    bottom: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: calc(0.3*(180px));
    width: calc(70% - 40px);
    justify-content: flex-start;
  }

  .toggle-btn {
    width: 30%;
    padding-right: 3px;
  }

  span {
    font-size: 35px;
    color: #e56050;
  }

  #next-btn {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0px;
    padding-bottom: 15px;
    padding-right: 40px;
  }

  #next-btn:hover {
    content: url("../images/next-hover-btn.png");
  }
  