@font-face {
  font-family: "Chakra Petch";
  src: local("ChakraPetch-Light"),
  url("/static/fonts/chakra-petch/ChakraPetch-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("/static/fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}

/* The whole page */
html {
  background-color: #212227;
  font-family: "Ubuntu", "sans-serif";
  color: #e8e8e8;
  font-size: 20px;
}

body {
  padding-top: 3vh;
}

.title {
  font-family: "Chakra Petch", "sans-serif";
  font-size: 60px;
  text-align: center;
}

.header {
  font-family: "Chakra Petch", "sans-serif";
  font-size: 40px;
}

/* The navigation menu */
/* The navigation menu */
.nav-bar {
  background-color: #37383d;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Primary navigation links */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: #e8e8e8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Sub-navigation menu */
.sub-nav {
  float: left;
  overflow: hidden;
}

/* Sub-navigation button style */
.sub-nav button {
  font-size: 16px;
  border: none;
  outline: none;
  color: #e8e8e8;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Hover effect for navigation links and sub-navigation button */
.nav-bar a:hover,
.sub-nav:hover button {
  background-color: #7498e8;
}

/* Style the sub-navigation content (positioned absolute) */
.sub-nav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #7498e8;
  width: 100%;
  z-index: 1;
}

/* Style the sub-navigation links */
.sub-nav-content a {
  float: left;
  color: #e8e8e8;
  text-decoration: none;
}

/* Add a grey background color on hover for sub-navigation links */
.sub-nav-content a:hover {
  background-color: #83a4ea;
  color: #212227;
}

/* Display sub-navigation content when hovering over the sub-navigation container */
.sub-nav:hover .sub-nav-content {
  display: block;
}

.character-display {
  background-color: #648de5;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
}

.character-display img {
  width: calc(33.3% - 2px*2);
  height: 30%;
  margin: 2px;
}

/* Removing the marker from the lists in the footer */
.subscription > ul > li, .support > ul > li {
  list-style-type: none;
}


