@import url(universal-style.css);


/* The whole page */
body {
  overscroll-behavior: none;
  background-color: #212227;
  font-family: "Chakra Petch", "Ubuntu", "sans-serif";
  color: #d6e0f8;
  font-size: 20px;
  min-height: 100%;
  position: relative;
  margin: 0 50px 0 50px;
}

/* The navigation menu */
.nav-bar {
  background-color: #37383d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 10px;
  z-index: 2;
}

/* Primary navigation links */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: #c1d1f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The title for the website */
#title {
  text-align: right;
  margin-top: calc(32px - 24px);
  margin-right: 10px;
  font-size: 24px;
}

/* Sub-navigation menu */
.sub-nav {
  float: left;
  overflow: hidden;
}

/* Sub-navigation button style */
.sub-nav button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: #c1d1f5;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Style the sub-navigation content (positioned absolute) */
.sub-nav-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  background-color: #7498e8;
  width: 100%;
}

/* Smooth opacity transition of the sub-nav-content */
.sub-nav-content {
  transition: opacity 100ms ease-in-out
}

/* Display sub-navigation content when hovering over the sub-navigation container */
.sub-nav:hover .sub-nav-content {
  visibility: visible;
  opacity: 1;
}

/* Hover effect for navigation links and sub-navigation button */
.nav-bar a:hover,
.sub-nav:hover button {
  background-color: #7498e8;
}

/* Style the sub-navigation links */
.sub-nav-content a {
  float: left;
  color: #c1d1f5;
  text-decoration: none;
}

/* Add a grey background color on hover for sub-navigation links */
.sub-nav-content a:hover {
  background-color: #83a4ea;
  color: #212227;
}

.welcome-page-container {
  margin: 0 -50px 0 -50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 46px;
  position: relative;
  z-index: 1;
}

#wriesly-img {
  width: 100%;
}

/* A container inside the header section */
#welcome-text-container {
  font-family: "Pixel font";
  letter-spacing: -3px;
  font-size: 3.5vw;
  position: absolute;
  width: 52vw;
  right: 0;
  padding-bottom: 40px;
  padding-right: 40px;
}

#welcome-text-container div {
  position: relative;
  width: 100%;
  height: 100%;
  float: right;
}

#welcome-text-container img {
  float: right;
  width: 100%;
  height: 100%;
}

#welcome-text {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* The header class which contains the headers of all article elements*/
.header {
  font-family: "Pixel font", "Chakra Petch", "Ubuntu", "sans-serif";
  font-size: 35px;
  margin-bottom: 30px;
  display: block;
}

/* The part of the section element */
article {
  margin-top: 50px;
}

/* an article container for the preview of characters */
.character-preivew {
  height: calc(100% - 50px);
  width: 100%;
}

/* A container within character-preview to align child elements */
.row-display-container {
  display: flex;
  width: 100%;
}

/* The name of the character */
.character-name {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  color: #e8e8e8;
  text-align: left;
}

/* The container of character's name, button and description (character-name, character-description, and img) */
.character-display {
  background-color: #648de5;
  flex: 1;
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contains the interactive img elements */
.image-container {
  display: flex;
  justify-content: space-between;
}

/* The interactive img elements corresponding to each character */
.character-display img {
  overflow: hidden;
  width: calc(33.3% - 4px - 4px);
  height: calc(100% - 10px);
  margin-left: 10px;
  margin-right: 10px;
}

.bright-img {
  border: 3px solid black;
  filter: brightness(100%);
}

.dark-img {
  border-width: 0;
  filter: brightness(40%);
}

.dark-img:hover {
  border: 3px solid black;
  filter: brightness(70%);
}

/* A description within the p element corresponding to each character */
.character-description {
  overflow: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 17px;
  color: #212227;
}

/* The image on the side of the character-display container */
.character-img {
  flex: 1;
  margin-left: 20px;
  height: 100%;
  width: calc(50% - 20px);
}

/* A container for the second article element*/
.console {
  margin-bottom: 100px;
  overflow: hidden;
}

#console {
  max-width: 70%;
}

#coming-soon-container {
  flex: 1;
  float: left;
  background-color: rgb(37 43 63);
  margin-right: 20px;
  height: 30%;
  max-width: 30%;
}

#note-header {
  display: flex;
  font-size: 20px;
  background-color: #1f222f;
  border: 7px solid #0f121a;
  padding: 10px 10px 10px 20px;
}

#exclamation-icon {
  width: 2.5vh;
  padding-right: 5px;
  align-self: center;
}

#coming-soon-container p {
  padding: 20px 20px 20px 20px;
  border: 7px solid #171923;
  border-top: 0;
}

@media (max-width: 806px) {
  #console {
    max-width: 70%;
  }
}

/* Removing the marker from the lists in the footer */
footer div div ul li {
  list-style-type: none;
}

/* The footer section of the page with its child elements aligned in a column */
footer {
  background-color: #37383d;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -50px;
  margin-right: -50px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

/* A container for all the div elements within the footer aligned in a row */
.footer-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  padding-bottom: 20px;
  width: 100%;
}

/* Responsive spacing between subsections*/
.footer-container>div {
  padding-right: calc((100% / 5) - 15%);
}

.support a:link,
.support a:visited {
  text-decoration: none;
  color: #c1d1f5;
}

.support a:hover {
  text-decoration: underline;
}

/* The header for each subsection */
footer>div>div>h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Copyright seperated by a border-top property from the footer */
.copyright {
  border-top: 2px solid #646468;
  text-align: left;
  font-size: 14px;
}

/* The text inside the copyright class */
.copyright>p {
  margin-top: calc(15px + 2px);
  margin-bottom: 15px;
}