@font-face {
  font-family: "Chakra Petch";
  src: local("ChakraPetch-SemiBold"),
  url("/static/fonts/chakra-petch/ChakraPetch-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("/static/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"),
  url("/static/fonts/minecraft/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: "Pixelify Sans";
  src: local("PixelifySans-Regular"),
  url("/static/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf") format("truetype");
}

/* Universally removing default browser margins and paddings*/
* {
  margin: 0;
  padding: 0;
}

/* The whole page */
body {
  overscroll-behavior: none;
  background-color: #212227;
  font-family: "Ubuntu", "sans-serif";
  color: #d6e0f8;
  font-size: 20px;
  min-height: 100%;
  position: relative;
  margin: 0 50px 0 50px;
}

/* The navigation menu */
.nav-bar {
  background-color: #37383d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 10px;
}

/* Primary navigation links */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: #c1d1f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The title for the website */
#title {
  font-family: "Chakra Petch", "sans-serif";
  text-align: right;
  margin-top: calc(32px - 24px);
  margin-right: 10px;
  font-size: 24px;
}

/* Sub-navigation menu */
.sub-nav {
  float: left;
  overflow: hidden;
}

/* Sub-navigation button style */
.sub-nav button {
  font-size: 16px;
  border: none;
  outline: none;
  color: #c1d1f5;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Hover effect for navigation links and sub-navigation button */
.nav-bar a:hover,
.sub-nav:hover button {
  background-color: #7498e8;
}

/* Style the sub-navigation content (positioned absolute) */
.sub-nav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #7498e8;
  width: 100%;
  z-index: 1;
}

/* Style the sub-navigation links */
.sub-nav-content a {
  float: left;
  color: #c1d1f5;
  text-decoration: none;
}

/* Add a grey background color on hover for sub-navigation links */
.sub-nav-content a:hover {
  background-color: #83a4ea;
  color: #212227;
}

/* Display sub-navigation content when hovering over the sub-navigation container */
.sub-nav:hover .sub-nav-content {
  display: block;
}

/* The header section */
.welcome-page-container {
  padding-top: 39px; 
  position: relative;
}

/* The welcome-page-container image */
#wriesly-img {
  width: 100%;
}

/* A container inside the header section */

#welcome-text-container {
  position: absolute;
  right: 5%;
  text-align: center;
  transform: translate(0, 110%);
}

#welcome-text {
  font-family: "Chakra Petch";
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(0, 0, 0, 0.267);
}

/* The rectangle around welcome-text*/
#welcome-page-container {
  position: relative;
  transform: translate(-5%, 240%);
}

/* The header class which contains the headers of all article elements*/
.header {
  font-family: "Chakra Petch", "sans-serif";
  font-size: 40px;
  margin-bottom: 30px;
  display: block;
}

/* The part of the section element */
article {
  margin-top: 50px;
}

/* an article container for the preview of characters */
.character-preivew {
  height: calc(100% - 50px);
  width: 100%;
}

/* A container within character-preview to align child elements (character-display and character-img) */
.row-display-container {
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
}

/* The name of the character */
.character-name {
  font-family: "Chakra Petch", "sans-serif";
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  color: #e8e8e8;
  text-align: left;
}

/* The container of character's name, button and description (character-name, character-description, and img) */
.character-display {
  background-color: #648de5;
  flex: 1;
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contains the interactive img elements */
.image-container {
  display: flex;
  justify-content: space-between;
}

/* The interactive img elements corresponding to each character */
.character-display img {
  overflow: hidden;
  width: calc(33.3% - 4px - 4px);
  height: calc(100% - 10px);
  margin-left: 10px;
  margin-right: 10px;
}

/* A description within the p element corresponding to each character */
.character-description {
  overflow: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 17px;
  color: black;
}

/* The image on the side of the character-display container */
.character-img {
  flex: 1;
  margin-left: 20px;
  height: 100%;
  width: calc(50% - 20px);
}

/* A container for the second article element*/
.console {
  margin-bottom: 20px;
}

/* displays a preview of minigames */
#console {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 50%;
}

/* Removing the marker from the lists in the footer */
footer > div > div > ul > li {
  list-style-type: none;
}

/* The footer section of the page with its child elements aligned in a column */
footer {
  background-color: #37383d;
  color: #c1d1f5;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: -50px;
  margin-right: -50px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

/* A container for all the div elements within the footer aligned in a row */
.footer-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  padding-bottom: 20px;
  width: 100%;
}

/* Responsive spacing between subsections*/
.footer-container > div {
  padding-right: calc((100% / 5) - 15%);
}

/* The header for each subsection */
footer > div > div > h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Copyright seperated by a border-top property from the footer */
.copyright {
  border-top: 2px solid #646468;
  text-align: left;
  font-size: 14px;
}

/* The text inside the copyright class */
.copyright > p {
  margin-top: calc(15px + 2px);
  margin-bottom: 15px;
}