<!doctype html>
<html lang="en-US">

<head>

  <meta charset="utf-8" />

  <link href="../static/css/authentication-style.css" rel="stylesheet" />
  <script src="../static/scripts/authentication-handling.js" defer></script>


  <!-- Fonts stored online
      Chakra font 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
      Ubuntu font 
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> -->

  <meta name="viewport" content="width=device-width" />

  <title>Authentication</title>
</head>

<body>

  <!-- Authentication form -->
  <form class="auth" action="/auth" method="post">
    <ul>
      <li class="field">
        <div>
          <label for="name">Username:</label>
        </div>
      </li>
      <li class="field">
        <div>
          <input type="text" id="name" name="user_name" maxlength="20" required />
        </div>
      </li>
      <li class="field">
        <div>
          <label for="mail">Email:</label>
        </div>
      </li>
      <li class="field">
        <div>
          <input type="email" id="email" name="user_email" maxlength="40" required />
        </div>
      </li>
      <li class="field">
        <div>
          <span id="message"></span>
        </div>
      </li>
      <li class="last-li">
        <img class="toggle-switch" src="../static/images/red-toggle.png" alt="" />
        <span id="auth-span">Sign up</span>
      </li>
      <img id="next-btn" src="../static/images/next-btn.png" alt="" />
    </ul>
    <img id="auth-img-container" src="../static/images/sign-in.png" alt="" />
  </form>
</body>