 <!doctype html>
 <html lang="en-US">
   <head>
     
     <meta charset="utf-8" />
     
  <link href="../static/css/style.css" rel="stylesheet" />
  <script src="../static/scripts/main.js" defer></script>


     <!--- Chakra font 
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     
       Ubuntu font 
     <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> -->
     
     <meta name="viewport" content="width=device-width" />
     
     <title>Yomp Mainpage</title>
     
      <!--- Author --->
     <meta name="author" content="Yomp" />
     <meta
       name="description"
       content="Yomp is a minigame website aimed to raise funds for charity." />

     <!--- Facebook Open Graph --->
     <meta
       property="og:image"
       content="http://yompers.yomp1.repl.co/lil.png" />
     <meta
       property="og:description"
       content="Yomp is a webapp for playing a bunch of minigames." />
     <meta property="og:title" content="Yomp" />

      <!--- Twitter Cards --->
     <meta name="twitter:title" content="Yomp" />

     <link rel="icon" href="static/images/favicon.png" type="image/x-icon" />
   </head>

   <body>
    <header>
      <h1> Welcome to Yomp </h1>
    </header>
<nav class="navigation-bar"> <aside> 
  <a href="#">Our goal</a></br>
  <a href="#">Sign in Yomp</a></br>
  <a href="#">Minigame Shop</a></br>
</aside> 
</nav>
<main>
      <img src="static/images/lil.png" alt="Wriely: an 8-bit" height="100" width="100"/>

      <p class="right-section"> This is Yomp, a minigame station to rejoice and be free. </p>

    <section>
      <h2 class="subheading">Our goal</h2>
      <p class="left-section">This webapp is an open-source project, purposed to raise funds for charity. 100% of the funds recieved will be given to charity. </p>
    </section>f

    <section>
      <h2 class="subheading">Sign in Yomp</h2>
     <p class="left-section">
       <a class="left-section" href="/loginGI" title="Sign in page"> Sign in </a> to play.</p>
      </section>

    <section>
     <h2 class="subheading">Minigame Shop</h2>
     <ul class="left-section">
       <li>Free
       Limited minigames
       </li>
        <li>Pro
        All minigames
        </li>
        <li>Ultra
        All minigames, exclusive minigames and gifts in Yomp Pass
        </li>
     </ul>
    </section>

    </main>
    <button>Change user</button>
<footer>
     <p class="date-modified">Last modified in <time datetime="2024-11-1">January 11 2024</time></p>
     <address class="address"><p>Yama Samir
      Telephone: 9647512451606
      Email: Yomp@gmail.com
    </p></address>
  </footer>
   </body>
 </html>
