<!doctype html>
<html lang="en-US">

<head>

  <meta charset="utf-8" />

  <link href="../static/css/style.css" rel="stylesheet" />
  <script src="../static/scripts/main.js" defer></script>


  <!-- Fonts stored online
      Chakra font 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
      Ubuntu font 
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> -->

  <meta name="viewport" content="width=device-width" />

  <title>Yomp Mainpage</title>

  <!-- Author -->
  <meta name="author" content="Yomp" />
  <meta name="description" content="Yomp is a minigame website aimed to raise funds for charity." />

  <!-- Facebook Open Graph -->
  <meta property="og:image" content="http://yompers.yomp1.repl.co/lil.png" />
  <meta property="og:description" content="Yomp is a webapp for playing a bunch of minigames." />
  <meta property="og:title" content="Yomp" />

  <!-- Twitter Cards -->
  <meta name="twitter:title" content="Yomp" />

  <link rel="icon" href="../static/images/template.ico" type="image/x-icon" />
</head>

<body>
  <header>
    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Navigation menu -->
    <div class="nav-bar">
      <a href="#yomp-shop">Yomp Shop</a>

      <div class="sub-nav">
        <button>Contact us <i class="fa fa-caret-down"></i></button>
        <div class="sub-nav-content">
          <a href="mailto:yompminigames@gmail.com" target="_blank">Mail</a>
          <a href="https://discord.com/channels/@yomp_mg" target="_blank">Discord</a>
          <a href="https://www.tiktok.com/@yomp_minigames?lang=en" target="_blank">TikTok</a>
          <a href="https://www.reddit.com/user/Yomp-minigames/" target="_blank">Reddit</a>
        </div>
      </div>
      <a href="/auth">Sign in</a>
      <a href="#about-us">About us</a>
      <h1 id="title">Yomp</h1>
    </div>

    <!-- Welcome section (Wriesly display)-->
    <div class="welcome-page-container">
      <div id="welcome-text-container">
        <div>
          <p id="welcome-text">Welcome to Yomp, embrace the minigame world!</p>
          <img src="../static/images/welcome-text-container.png" alt="" />
        </div>
      </div>
      <img id="wriesly-img" src="../static/images/header-pic.png"
        alt="Wriesly, little 8-bit console, illustrated in water">
    </div>
  </header>

  <!-- Main content -->
  <main>
    <section>

      <!-- Characters' preview section (contains 3 main characters)-->
      <article class="character-preview">
        <h2 class="header">The Honored Characters</h2>
        <div class="row-display-container">
          <div class="character-display">
            <h3 class="character-name"></h3>
            <div class="character-description"></div>
            <div class="image-container">
              <img id="wriesly-btn" src="../static/images/wriesly-crop.png" alt="A blue and white 8-bit" />
              <img id="skizzy-btn" src="../static/images/skizzy-crop.png"
                alt="A girl with red hair with traditional clothes" />
              <img id="daemon-btn" src="../static/images/daemon-crop.png" alt="A demon with black hair and red horns" />
            </div>
          </div>
          <div class="character-img"></div>
        </div>
      </article>

      <!-- Minigame preview section (minigames and their preview coming soon) -->
      <article class="console">
        <h2 class="header">Minigame Preview</h2>
        <div class="row-display-container">
          <aside id="coming-soon-container">
            <div id="note-header">
              <img id="exclamation-icon" src="../static/images/exclamation-icon.png" alt="" />
              <h3 id="note">Note</h3>
            </div>
            <div id="border"></div>
            <p>The webapp is currently under development, and minigames are coming soon!</p>
          </aside>
          <img id="console" src="../static/images/red-console-coming-soon.png" alt="console" />
        </div>
      </article>
    </section>
  </main>

  <!-- Footer section (for navigating to secondary pages)-->
  <footer role="navigation">
    <div class="footer-container">
      <div class="subscription">
        <h3>Subscription</h3>
        <ul>
          <li>Yomp Shop</li>
        </ul>
      </div>

      <div class="support">
        <h3>Support</h3>
        <ul>
          <li><a href="mailto:yompminigames@gmail.com">Mail</a></li>
          <li><a href="https://discord.com/channels/@yomp_mg">Discord</a></li>
          <li><a href="https://www.tiktok.com/@yomp_minigames?lang=en">TikTok</a></li>
          <li><a href="https://www.reddit.com/user/Yomp-minigames/">Reddit</a></li>
        </ul>
      </div>

      <div class="about-us">
        <h3>About Us</h3>
        <ul>
          <li>Our goal</li>
        </ul>
      </div>

      <div class="privacy-policy">
        <h3>Privacy Policy</h3>
        <ul>
          <li>Privacy policy</li>
        </ul>
      </div>

      <div class="terms-of-service">
        <h3>Terms of Service</h3>
        <ul>
          <li>Terms of service</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2024 Yomp</p>
    </div>
  </footer>
</body>

</html>